**/build/**
**/.settings/**
**/.cxx/**
**/.externalNativeBuild/**
**/obj/**
**/.idea/**
**/.gradle/**
**/.vscode/**
**/captures/**
**.classpath
**.project
**.iml
**.DS_Store
**.rawproto
**.log
**/local.properties
**/*-configuration.txt
**/*-toolchain.txt
/src
/libs
